/*CSS - Cascade Style Sheet(Каскадные таблицы стилей)*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



body
{
	padding: 0px 48px;
	font-size: 24px; /*изменение размера*/
	/*font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif*/ /*изменение шрифта*/
	font-family: Roboto Mono;
}

p
{
	text-align: justify;
	/*font-style: italic;*/
}

	p::first-letter
	{
		margin-left: 52px;
		/*        font-size: 40px;*/
	}

figure
{
	text-align: center;
}

figcaption
{
	font-style: Italic;
	font-weight: 300;
}

.citation
{
	border-left: solid 4px #cfb227;
	margin: 32px;
	margin-right: 0px;
	padding-left: 32px; /*Такой padding применяется со всех сторон*/
	/*padding: 0px 32px;             0 - верх/низ, 32px - лево/право* /
    /*padding: 0px 32px 64px;        0 - верх, 32рх - лево/право, 64px - низ*/
	/*padding: 0px 32px 64px 128px;  /*По часовой стрелке начиная сверху*/
}

dt
{
	float:left; /* для того чтобы dt dd могли быть в одной строке*/
	font-weight:bold;
	width: 256px;

}
dd
{
	margin-left:256px;
	border:solid 0px;
	
}
dl
{
	color: dimgray;
	font-weight:300;
}

/*---------------------------------------------------------------------------------------------------------------*/
table
{
	
	border-collapse:collapse;
	width: 80%;
	margin: 0px auto;
}
table, thead
{
	border: solid 3px;
}
th, td
{
	border: solid 1px;
}
thead th
{
	padding: 10px;
	background-color:aquamarine;
	/*color:aliceblue;*/
}
td
{
	text-align:center;
}
tbody th
{
	text-align:left;
	background-color:lightblue;
}
table:hover
{
	box-shadow: 0px 0px 82px 0px gray; 
	/*			1	  2		3	4	 5																*/
	/*1- смещение тени по оси ох
	2- смещение тени по оси оу
	3-blur, показывает, на каком расст тень сольется с фоном и уйдет в ноль
	4-Spread, показывает, на сколько тень расшииряется по сравнению с объектом ее отбрасывающим
	5-цвет тени*/
}
tr:hover
{
	box-shadow: inset 0px 0px 4px 0px blue; /*РАБОТАЕТ НЕКОРЕКТНО*/
}
/*----------------------------------------------------------------------------------------*/

a:hover
{
	font-weight:800;
	color: black;
}
a:active
{
	background-color: black;
	color: white;
}
