body
{
	background-image:url('img/bliss.jpg');
	background-size:cover;
}
.main-window
{
	/*border: solid 1px;*/
	width: 400px;
	height:300px;
}
.iconsm
{
	width:28px;
	height:28px;
}
.icon-and-title
{
	display:flex;
	align-items:center;
}
.title-bar-window-control-buttons
{
	padding: 0px 5px;
	width: 104px;
	padding:0px;

}
.title-bar-window-control-buttons, .control-buttons
{
	display: flex;
	justify-content: center; /*выравниавание по горизонтали*/
	align-items: center; /*выравнивание по вертикале*/
}
.control-button
{
	width: 28px;
	height: 28px;
	font-size: 24px;
	margin:0px 2px;

	border:solid 1px;
	border-radius:4px;
	background-color:rgb(38, 104, 246);
	color:white;

	box-shadow:inset 2px 1px 5px 0px rgb(97, 153, 255), inset -2px -1px 5px 0px #0000BB;

}
	.control-button:hover
	{
		background-image: linear-gradient(to bottom right, rgb(189,189,249),
						  rgb(39,104,249),
						  rgb(149,149,249));
	}
	.controle-button:active
	{
		background-image:none;
		background-color: rgb(50,50,200);
		box-shadow:inset -3px -1px 7px 0px #FFBBBB, inset -2px -1px 5px 0px #770000;
	}
.close-button
{
	background-color:rgb(221, 77, 58);
	box-shadow:inset 2px 1px 8px 0px #FFBBBB, inset -2px -1px 5px 0px #770000;
}
	.close-button:hover
	{
		background-image: linear-gradient(to bottom right,
							rgb(220, 177, 157),
							rgb(255, 77, 57),
							rgb(220, 177, 157));
	}
.control-button-signature
{
	margin-left:-3px;
	margin-top:-7px;
}
.control-button[disabled], .control-button[disabled]:hover
{
	color: #CCCCFF;
	background-image: none;
	background-color: RGB(39,104,249);
	box-shadow: inset 3px 1px 7px 0px #2288FF;
}
.close-button-signature
{
	margin: -5px 0 0 -.5px;
}
.client-rect
{
	/*background-color:rgb(235, 233, 216)*/
	background-color:#EAE8D8;
	height:262px;
}
.title-bar
{
	height:38px;
	/*background-color: blue;*/
	color:aliceblue;

	font-family:Tahoma;

	display:flex;
	justify-content:space-between; /*выравниавание по горизонтали*/
	align-items:center;  /*выравнивание по вертикале*/

	border-top-left-radius: 8px;
	border-top-right-radius: 8px;

	background-image:linear-gradient(to bottom,
		rgb(50, 140, 250),
		rgb(50, 140, 250),
		rgb(3, 92, 230),
		rgb(3, 92, 230),
		rgb(3, 92, 230),
		rgb(3, 92, 230),
		rgb(0, 90, 234),
		rgb(0, 90, 234),
		rgb(0, 90, 234),
		rgb(0, 90, 234)
	);

	box-shadow:inset -2px 0px 8px 0px darkblue;
	}